.chat-layout {
    padding: 0.5rem;
    margin-top: 0.7rem;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    background-color: white;
    box-shadow: 0 0 15px 2px #6482AD;
}

.chats-list-header {
    padding: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #6482AD;
}

    .chats-list-header h3 {
        margin: 5px;
    }

.chat-item {
    text-decoration: none;
}

.chats-list {
    height: 65vh;
    overflow-y: auto;
    background-color: #F5EDED;
}

.conversation-item {
    width: 95%;
    height: 4.5em;
    border-radius: 20px;
    margin: 0.5rem;
    background-color: #E2DAD6;
}

    .conversation-item img {
        width: 55px;
        height: 55px;
        margin: 5px;
        margin-top: 10px;
        border-radius: 50%;
    }

    .conversation-item h5 {
        color: black;
        margin: 0.5rem;
    }

.details-user p {
    color: black;
    margin: 0.2rem;
    margin-left: 10px;
}

.date-place h6 {
    color: black;
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.chat-list-control {
    height: 2.8rem;
    overflow-y: auto;
    background-color: #7FA1C3;
    border-radius: 0 0 20px 20px;
}

.control-bar {
    width: 95%;
    margin: 0.5rem;
    padding: 0px !important;
    border-radius: 30px;
    background-color: white;
}

.control-btn {
    border-radius: 30px;
    background-color: white;
}

.previous, .next {
    border: none;
    border-radius: 30px;
    background-color: white;
}

    .previous img, .next img {
        width: 25px;
    }

    .previous h6, .next h6 {
        margin: 0.5rem;
        font-size: 1rem;
    }

.active-chat {
    padding: 0;
    color: white;
    height: 85vh;
    border-radius: 20px;
    background-color: #F5EDED;
    border: 1px solid #6482AD;
}

.user_info {
    gap: 10px;
    display: flex;
    align-items: center;
}

    .user_info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .user_info h4 {
        color: white;
    }


.btn_profile {
    border: none;
    transition: 0.3s;
    padding: 8px 15px;
    border-radius: 30px;
    background-color: white;
}

    .btn_profile h6 {
        margin-top: 6px;
    }

    .btn_profile:hover {
        color: white;
        background-color: #B8001F;
        box-shadow: 0 0 15px 2px #B8001F;
    }


#messageArea {
    height: 65vh;
    overflow-y: auto;
    background-color: #F5EDED;
}

.message-input-container {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    background-color: #7FA1C3;
    border-top: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
}


#messageArea::-webkit-scrollbar {
    display: none;
}


.message-input {
    width: 93%;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: white;
    margin: 0 10px;
    padding: 10px;
    font-size: 14px;
}

.send-button {
    background-color: white;
    border-radius: 50%;
    border: none;
    padding: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-div {
    display: flex;
    align-items: flex-start; /* Aligns messages at the top */
    gap: 15px;
    margin-block: 10px;
    width: 90%;
}

    .message-div p {
        background-color: #d5f2f2;
        width: fit-content;
        max-width: 100%; /* Adjust width dynamically */
        padding: 10px;
        border-radius: 15px;
        font-size: 14px;
        word-wrap: break-word;
    }



    .message-div img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }



.message-style {
    flex-direction: row-reverse;
}

/******************************************************************/
