.logo-img {
    width: 60px;
    height: 60px;
}

/*@keyframes rotateLogo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-img:hover {
    animation: rotateLogo 2s linear infinite;
}*/

.custom-input {
    color: dimgray !important;
    border-radius: 25px !important;
    width: 30rem !important;
    background-color: lightgray !important;
}

a span {
    color: black;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}

img {
    width: 25px;
}

li {
    margin: 0 10px;
}

.nav {
    margin-bottom: 1rem;
    padding-top: 0.2rem;
}

.nav-hover {
    text-align: center;
    transition: all 0.3s ease;
}

.nav-hover:hover {
    transform: scale(1.5);
}